#brand-logo {
  font-size: 34px
}

#app-navbar {
  background: linear-gradient(120deg, #f9a60c, #00ff0d)
}

body {
  background: rgb(255, 255, 255)
}
.nav-link, .dropdown-item {
  color: blue !important;
}
.nav-link:hover, .dropdown-item:hover {
  color: darkgreen !important;
}